<div class="container1">

    <div class="navbar">
        <img class="logoLogin" src="https://i.postimg.cc/mDvbKZSX/logo.png" alt="Logo Popkon" >
        <h2 class="popkon">Popkon</h2>
        <button class="logout" (click)="auth.logout()">Logout</button>
        <img class="popiInicial" src="https://i.postimg.cc/C5DjDqFb/popi-inicial-P.png" alt="Popi">
    </div>
    <app-videos></app-videos>

    <footer>
        ©Todos os direitos reservados. 2024.
        Ilustrações autorais
    </footer>
</div>
